.square_btn {
  display: inline-block;
  background-color: $ac;
  color: #fff !important;
  font-size: 1em;
  width: 100%;
  text-align: center;
  line-height: 1.7;
  text-decoration: none !important;
  letter-spacing: 0.05em;
  padding: 0.7em 1em;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
}

.square_btn:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.line_btn {
  display: inline-block;
  padding: 0.7em 1em;
  font-size: 1rem;
  line-height: 1.7;
  text-decoration: none !important;
  width: 100%;
  text-align: center;
  color: $ac !important;
  border: solid 2px $ac;
  border-radius: 3px;
  transition: 0.4s;

  &:hover {
    background: $ac;
    color: white !important;
  }
}

@mixin line_btn($color: $ac, $line-height: 1.7) {
  display: inline-block;
  padding: 0.7em 1em;
  font-size: 1rem;
  line-height: $line-height;
  text-decoration: none !important;
  width: 100%;
  text-align: center;
  color: $color !important;
  border: solid 2px $color;
  border-radius: 3px;
  transition: 0.4s;

  &:hover {
    background: $color;
    color: white !important;
  }
}
