/* ----------- Fukidashi ------------ */
.main {
  .l-fuki,
  .r-fuki {
    position: relative;
    width: 80%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #aaa;
    background-color: #fff;
    z-index: 1;
  }

  .l-fuki {
    margin: 20px 20% 40px 0;
  }

  .r-fuki {
    margin: 20px 0 40px 19%;
  }

  .l-fuki::before,
  .r-fuki::before {
    position: absolute;
    content: "";
    top: 16px;
    width: 10px;
    height: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    z-index: 2;
  }

  .l-fuki::before {
    right: -7px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .r-fuki::before {
    left: -7px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .l-fuki::after,
  .r-fuki::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    top: -10px;
    border-radius: 40px;
    border: 3px solid #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px #aaa;
  }

  .l-fuki::after {
    right: -110px;
  }

  .r-fuki::after {
    left: -110px;
  }

  @media screen and (max-width: 620px) {
    .l-fuki,
    .r-fuki {
      width: 70%;
    }

    .l-fuki {
      margin-right: 30%;
    }

    .r-fuki {
      margin-left: 30%;
    }
  }

  @media screen and (max-width: 478px) {
    .l-fuki::after,
    .r-fuki::after {
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    .l-fuki::after {
      right: -84px;
    }

    .r-fuki::after {
      left: -84px;
    }
  }
}

.icon-13::after {
  background-image: url('https://cdn-ak.f.st-hatena.com/images/fotolife/r/rians1mi/20180205/20180205131823.jpg?1517804357');
}
