@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";
@import "~font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/widgets";
@import "components/blockquote";
@import "components/wp-classes";
@import "components/fukidashi";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/navbar";

.col-card {
  background-color: #fff;
  padding: 50px;
}

@media only screen and (max-width: 992px) {
  .col-card {
    margin-bottom: 2em;
    padding: 25px;
  }
}

/* post */
.main {
  h1 {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 600;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0.5em; /* 文字周りの余白 */
    background: $main2; /* 背景色 */
    border-left: solid 5px $main; /* 左線（実線 太さ 色） */
    font-weight: 600;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0.3em; /* 文字周りの余白 */
    border-left: solid 5px $main; /* 左線（実線 太さ 色） */
  }
}

.breadcrumbs {
  font-size: 12px;
  margin-bottom: 10px;
}
