header.banner {
  background-color: white;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1000;

  .container-fluid {
    box-shadow: 0 1px 1px rgba(17, 17, 17, 0.1);
  }
}

.banner.scroll-fade-in {
  opacity: 0;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.banner {
  .nav {
    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link;
    }
  }

  .logo {
    text-align: center;

    img {
      margin-top: 5px;
      height: 35px;
    }
  }
}
