.nav-tabs-wrap {
  overflow-y: none;
  overflow-x: auto;
  white-space: nowrap;
  background-color: $white;
  z-index: 1000;
  box-shadow: 0 1px 1px rgba(17, 17, 17, 0.1);

  &::-webkit-scrollbar { height: 1px; }
  &::-webkit-scrollbar-track { background: #ddd; }
  &::-webkit-scrollbar-thumb { background: #bbb; }

  .fbb-nav {
    height: 40px;
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;

    li {
      display: inline-block;
      float: none;
      padding: 0.7rem 0.5rem;

      &:hover {
        border-bottom: 1px solid $main;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.home .nav-tabs-wrap {
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 40px; /* 上端から10pxのところで固定 */
}
