.nav-tabs-wrap {
  overflow-y: none;
  overflow-x: auto;
  white-space: nowrap;
  background-color: $main2;
  z-index: 1000;

  &::-webkit-scrollbar { height: 1px; }
  &::-webkit-scrollbar-track { background: #ddd; }
  &::-webkit-scrollbar-thumb { background: #2cc2e4; }

  .fbb-nav {
    height: 40px;
    display: inline-block;
    width: 100%;
    font-size: 0.9rem;

    li {
      display: inline-block;
      float: none;

      a {
        text-decoration: none;
        padding: 0.6rem 0.5rem;
      }
    }
  }
}

.home .nav-tabs-wrap {
  position: -webkit-sticky; /* safari対応 */
  position: sticky;
  top: 40px; /* 上端から10pxのところで固定 */
}
