.entry-title {
  margin: 10px 0 20px 0;
}

// ul
.ul-list {
  border: solid 2px $main;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;

  li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none !important;

    &::before {
      font-family: FontAwesome, sans-serif;
      content: "\f138";
      position: absolute;
      left: 1em;
      color: $main;
    }
  }
}

// ol
.ol-list {
  border: solid 2px $main;
  border-radius: 5px;
  padding: 0.5em;
  counter-reset: number;
  list-style-type: none !important;

  li {
    position: relative;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 30px;

    &::before {
      /* 以下数字をつける */
      position: absolute;
      counter-increment: number;
      content: counter(number);

      /* 以下数字のデザイン変える */
      display: inline-block;
      background: $main;
      color: white;
      font-family: 'Avenir', 'Arial Black', 'Arial', sans-serif;
      font-weight: bold;
      font-size: 15px;
      border-radius: 50%;
      left: 0;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;

      /* 以下 上下中央寄せのため */
      top: 50%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.main {
  .page-header {
    margin-bottom: 50px;
  }

  ul {
    @extend .ul-list;
  }

  ol {
    @extend .ol-list;
  }

  img.alignnone {
    width: 100%;
  }

  span.red {
    color: $font-red;
  }

  span.blue {
    color: $font-blue;
  }
}

.box {
  position: relative;
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 2px $ac;
  border-radius: 3px;

  .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 14px;
    background: $ac;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.entry-category ul {
  list-style: none;
  margin: -15px 0 0 0;
  padding: 0;
  color: $gray-border;

  li::before {
    content: "#";
  }

  a {
    text-decoration: none;
    font-size: 0.8rem;
    color: $gray-border;

    &:hover {
      color: $font-sub;
    }
  }
}

#toc_container {
  ul {
    a {
      display: block;
      // border-bottom: dashed 1px silver;
      color: $font-sentense;
    }

    ul {
      padding: 5px 0 5px 0;
    }
  }

  .toc_list {
    padding: 0 0.5em;
    position: relative;
    margin-bottom: 10px;

    > li {
      line-height: 1.5;
      list-style-type: none !important;
      padding: 0.5em 0 0 1.4em;

      &::before {
        font-family: FontAwesome, sans-serif;
        content: "\f138";
        position: absolute;
        left: 0.5em;
        color: $main;
      }

      > a {
        border: none;
        font-size: 110%;
      }
    }
  }
}
