.sidebar {
  .widget {
    margin: 0 0 2em 0;
    background: #fff;
    padding: 10px;

    // border-radius: 2px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);

    // h3 {
    //   font-size: 1em;
    //   background: $main;
    //   padding: 7px;
    //   text-align: left;
    //   color: #fff;
    //   letter-spacing: 0.05em;
    // }

    > h3 {
      font-size: 1rem;
      border-bottom: solid 2px $main2;
      position: relative;

      &::before {
        position: absolute;
        content: " ";
        display: block;
        border-bottom: solid 2px $main;
        bottom: -2px;
        width: 20%;
      }
    }
  }

  .recent-posts-extended {
    .rpwe-block .rpwe-ul .rpwe-li {
      border-bottom: dotted 1px silver;

      &:last-of-type {
        border-bottom: none;
      }

      a img {
        margin-left: 0;
      }

      h3 a {
        font-size: 0.8rem;
        line-height: 1.7;
      }
    }
  }

  .widget_categories ul {
    @extend .ul-list;

    border: none !important;
  }
}
