/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #27ae60
);

$font-zero: #000;
$font-main: #222;
$font-sentense: #555;
$font-sub: #666;
$font-red: #f26964;
$font-blue: #0e7ac4;

$main: #31ccfd;
$main2: #e8f7fe;
$main3: #56c2f6;
$sub: #999;
$sub2: #999;
$ac: #ffc107;
$ac2: #f9e3aa;

$gray-border: #d3d3d3;
$gray-shadow: #e5e5e5;
$gray-back: #f3f3f3;
