/* Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #27ae60
);

$font-zero: #000;
$font-main: #222;
$font-sentense: #333;
$font-sub: #666;
$font-red: #f26964;
$font-blue: #0e7ac4;

$main: #00081a;
$main2: #eee;
$main3: #00081a;
$sub: #eee;
$sub2: #eee;
$ac: #ffc107;
$ac2: #f9e3aa;

$gray-border: #d3d3d3;
$gray-shadow: #e5e5e5;
$gray-back: #fafafa;

$white: #fff;
